{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<style>
  body {
    text-align: center;
  }

  section, #main_content, .inner {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
  }

  section img, #main_content img {
    display: block;
    margin: 20px auto;
  }

  section p, #main_content p {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
  }

  h1, h2, h3 {
    text-align: center;
  }
  /* .page-header {
    padding: 1rem 1rem;
  } */

  .project-name {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .main-content h1, .main-content h2, .main-content h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .main-content p {
    margin-bottom: 1.5rem;
  }
</style>